</main>

    <footer class="py-3 header-color">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="https://github.com/GabZzL" class="nav-link px-2 text-body-secondary">GitHub</a></li>
        <li class="nav-item"><a href="https://www.linkedin.com/in/armando-gabriel-jacinto-lópez-915497274/" class="nav-link px-2 text-body-secondary">Linkedln</a></li>
        <li class="nav-item"><a href="https://www.instagram.com/reel/C33xN9uLI7z/?igsh=MW4xb3M1ZTVtMzZndQ==" class="nav-link px-2 text-body-secondary">Instagram</a></li>
        </ul>
        <p class="text-center text-body-secondary">© <%= new Date().getFullYear(); %> Armando, Inc</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
    crossorigin="anonymous"></script>
</body>
</html>